<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "nz.govt.wcc.test1"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Test App</name>

    <description>Test App for WCC</description>

    <author href="http://www.efodder.net" email="rudi.rademacher@wcc.govt.nz">Rudi Rademacher</author>
      
    
    <!-- PLATFORM SELECTION -->

    <gap:platform name="android" />
	<gap:platform name="ios" />
	<gap:platform name="winphone" />
	
	<plugins>
		<plugin name="Device" value="CDVDevice" />

		<plugin name="Logger" value="CDVLogger" />
		<plugin name="Compass" value="CDVLocation" />
		<plugin name="Accelerometer" value="CDVAccelerometer" />
		<plugin name="Camera" value="CDVCamera" />
		<plugin name="NetworkStatus" value="CDVConnection" />
		<plugin name="Contacts" value="CDVContacts" />
		<plugin name="Debug Console" value="CDVDebugConsole" />
		<plugin name="Echo" value="CDVEcho" />
		<plugin name="File" value="CDVFile" />
	</plugins>
        
    <access origin="*" />

</widget>